extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
  section#makeGrave
    form#graveForm(class="graveForm", name="graveForm", action="/graveyard", method="POST")
      label(for="name") Name: 
      input#graveName(type="text", name="name", placeholder="Server Name")
      label(for="packets") Packets before death: 
      input#gravePackets(type="text", name="packets", placeholder="Server Packets")
      input#submit(type="submit", name="submit")
  section#graves
    if graves==0
        h3 No graves yet
    else
        each val in graves
            div.grave
                |Here lies 
                br
                |#{val.name} 
                br
                |who served 
                br
                |#{val.packets} 
                br
                |packets before death. 
                br
                br
  #errorMessage
    h3
      span#errorMessage
block scripts
        script(src="/assets/maker.js")